<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta name="description" content="" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" th:href="@{/styles/app.min.css}" />
<!-- <link rel="stylesheet"
	th:href="@{/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.min.css}" /> -->
<link rel="stylesheet"
	href="vendor/datatables/media/css/datatables.bootstrap.html" />
<title>Digital Archive</title>
</head>
<body class="page-loading">

	<div th:if="${session.department == '' || session.department == null}">
		<script>
			window.location.replace("login");
		</script>
	</div>

	<!-- start loader -->
	<div class="pageload">
		<div style="color: #D94B01" class="pageload-inner">
			<div style="background: #D94B01" class="sk-rotating-plane"></div>
		</div>
	</div>
	<!-- end loader -->

	<!-- start header -->
	<div class="app layout-fixed-header">

		<!-- start side bar -->
		<div th:replace="fragments :: side-bar"></div>
		<!-- start side bar -->

		<div class="main-panel">

			<!-- start header nav -->
			<div class="header navbar">
				<div th:replace="fragments :: header-nav"></div>
			</div>
			<!-- start header nav -->

			<!-- start main content -->
			<div class="main-content">
				<div class="bg-default-lighter bordered p-a m-b">
					<span>File Upload <br />
					</span>
				</div>
				<div class="alert alert-danger" role="alert" th:text="${error}"
					th:if="${error}"></div>
				<div class="alert alert-success" role="alert" th:text="${success}"
					th:if="${success}"></div>
				<form id="fileupload" action="#" th:action="@{/save-account}"
					th:object="${pro}" method="post" enctype="multipart/form-data">
					<div class="row">
						<div class="form-group m-b col-md-6">
							<label>Customer names</label> <input type="text"
								class="form-control" th:field="*{customerName}"
								placeholder="Enter customer names" required />
						</div>
					</div>
					<div class="row">
						<div class="form-group m-b col-md-6">
							<label>Account number</label> <input type="text"
								class="form-control" th:field="*{accountNumber}"
								pattern="^[0-9]{3}\/[0-9]{6}\/[0-9]{1}\/[0-9]{4}\/[0-9]{1}"
								placeholder="211/179696/1/5100/0" required />
						</div>
					</div>
					<div class="row">
						<div class="form-group m-b col-md-6">
							<label>Category</label> <br /> <select class="form-control"
								style="width: 100%" th:field="*{category}" required>
								<option th:value="''" th:text="Select..."></option>
								<option th:value="'Account'" th:text="Account"></option>
								<!-- <option disabled th:value="'Batch'" th:text="Batch"></option> -->
							</select>
						</div>
					</div>

					<noscript>
						<input type="hidden" name="redirect"
							value="https://blueimp.github.io/jQuery-File-Upload/" />
					</noscript>

					<div class="row fileupload-buttonbar">
						<div class="col-lg-7">

							<span class="btn btn-success fileinput-button"> <i
								class="icon-plus"></i> <span>Add files...</span> <input
								type="file" th:field="*{file}" required accept="application/pdf" />
							</span>

							<button type="reset" class="btn btn-warning cancel">
								<i class="icon-ban"></i> <span>Cancel upload</span>
							</button>

							<input type="checkbox" class="toggle hide" /> <span
								class="fileupload-process"></span>
						</div>

						<div class="col-lg-5 fileupload-progress fade">
							<div class="progress progress-striped active" role="progressbar"
								aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar progress-bar-success"
									style="width: 0%;"></div>
							</div>
							<div class="progress-extended">&nbsp;</div>
						</div>
					</div>

					<table role="presentation" class="table table-striped m-t">
						<tbody class="files"></tbody>
					</table>

					<div class="form-group">
						<button type="submit" class="btn btn-primary m-r">Submit</button>
						<!-- <button class="btn btn-default">Reset</button> -->
					</div>
				</form>
			</div>
		</div>
		<!-- start main content -->

	</div>
	<!-- end header -->

	<!-- start footer -->
	<div th:replace="fragments :: footer"></div>
	<!-- start footer -->



	<!-- foot header -->
	<script th:src="@{/scripts/app.min.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.resize.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.categories.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.stack.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.time.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.pie.js}"></script>
	<script th:src="@{/vendor/flot-spline/js/jquery.flot.spline.js}"></script>
	<script th:src="@{/vendor/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
	<script th:src="@{/scripts/helpers/sameheight.js}"></script>
	<script th:src="@{/scripts/ui/dashboard.js}"></script>
	<!-- <script
		th:src="@{/bootstrap-4.0.0/bootstrap-4.0.0/dist/js/bootstrap.min.js}"></script> -->

	<script
		th:src="@{/vendor/datatables/media/js/datatables.bootstrap.html}"></script>
	<script type="text/javascript">
		$('.datatable').dataTable({
			'ajax' : 'data/datatables-arrays.json'
		});
	</script>
	<!-- foot header -->
</body>

</html>
