<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- <div th:replace="fragments :: head"></div> -->

    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" th:href="@{/styles/app.min.css}"/>
    <!-- <link rel="stylesheet"
        th:href="@{/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.min.css}" /> -->
    <link rel="stylesheet"
          href="vendor/datatables/media/css/datatables.bootstrap.html"/>

    <title>FMOS</title>

    <!-- <c:if test="#{session.department == 'IT Dept'}">
               <script> window.location.replace("dashboard");</script>
        </c:if> -->
</head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages': ['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {
            'title': 'How Much Pizza I Ate Last Night',
            'width': 400,
            'height': 300
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
        chart2.draw(data, options);
    }
</script>

<body class="page-loading">

<!--<div th:if="${session.username == '' || session.username == null}">-->
<!--<script>-->
<!--window.location.replace("login");-->
<!--</script>-->
<!--</div>-->

<!-- start loader -->
<div class="pageload">
    <div class="pageload-inner">
        <div style="background: #D94B01" class="sk-rotating-plane"></div>
    </div>
</div>
<!-- end loader -->

<!-- start header -->
<div class="app layout-fixed-header">

    <!-- start side bar -->
    <div th:replace="fragments :: side-bar"></div>
    <!-- start side bar -->

    <div class="main-panel">

        <!-- start header nav -->
        <div class="header navbar">
            <div th:replace="fragments :: header-nav"></div>
        </div>
        <!-- start header nav -->

        <!-- start main content -->
        <div class="main-content">
            <!-- start cards -->
            <div class="row">

                <div class="col-sm-6">
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-success text-white m-r">
                            <i class="icon-doc"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top: 1px">
                            <h4 class="m-a-0"></h4>
                            <h6 class="m-a-0 text-muted">Registered Account Files</h6>

                            <div id="chart_div"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-warning text-white m-r">
                            <i class="icon-doc"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top: 1px">
                            <h4 class="m-a-0"></h4>
                            <h6 class="m-a-0 text-muted">Modified Accounts Files</h6>

                            <div id="chart_div2"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  end cards -->


    </div>
    <!-- start main content -->

</div>
<!-- end header -->

<!-- start footer -->
<div th:replace="fragments :: footer"></div>
<!-- start footer -->


<!-- foot header -->
<!-- <div th:replace="fragments :: foot"></div> -->

<script th:src="@{/scripts/app.min.js}"></script>
<script th:src="@{/vendor/flot/jquery.flot.js}"></script>
<script th:src="@{/vendor/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/vendor/flot/jquery.flot.categories.js}"></script>
<script th:src="@{/vendor/flot/jquery.flot.stack.js}"></script>
<script th:src="@{/vendor/flot/jquery.flot.time.js}"></script>
<script th:src="@{/vendor/flot/jquery.flot.pie.js}"></script>
<script th:src="@{/vendor/flot-spline/js/jquery.flot.spline.js}"></script>
<script th:src="@{/vendor/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
<script th:src="@{/scripts/helpers/sameheight.js}"></script>
<script th:src="@{/scripts/ui/dashboard.js}"></script>
<!-- <script
    th:src="@{/bootstrap-4.0.0/bootstrap-4.0.0/dist/js/bootstrap.min.js}"></script> -->

<script
        th:src="@{/vendor/datatables/media/js/datatables.bootstrap.html}"></script>
<script type="text/javascript">
    $('.datatable').dataTable({
        'ajax': 'data/datatables-arrays.json'
    });
</script>
<!-- foot header -->
</body>

</html>
