<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Digital Archive</title>

<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<link rel="stylesheet" th:href="@{/styles/app.min.css}" />

</head>
<body class="page-loading">

	<div class="pageload">
		<div class="pageload-inner">
			<div style="background: #1B5732" class="sk-rotating-plane"></div>
		</div>
	</div>

	<div class="app signin usersession">
		<div class="session-wrapper">
			<div class="page-height-o row-equal align-middle">
				<div class="column">
					<div class="card bg-white no-border">
						<div class="card-block">
							<form role="form" class="form-layout"
								enctype="application/x-www-form-urlencoded"
								th:action="@{/signup}"
								method="post">
								<div class="text-center m-b">
									<h4 class="text-uppercase">Sign up</h4>
									<p>Please sign in to your account</p>
								</div>
								<div class="alert alert-danger" role="alert" th:text="${error}"
									th:if="${error}"></div>
								<div class="form-inputs">
									<label class="text-uppercase">Your username</label> <input
										type="text" name="username" class="form-control input-lg"
										th:field="*{user.username}" placeholder="Username" required>
									<label class="text-uppercase">Your names</label> <input
										type="text" name="full name" class="form-control input-lg"
										th:field="*{user.names}" placeholder="Username" required>
									<label class="text-uppercase">Your Email</label> <input
										type="email" name="names" class="form-control input-lg"
										th:field="*{user.email}" placeholder="email" required
										AUTOCOMPLETE="off">
									<label th:if="${use}" class="text-uppercase">Role</label>
									<select th:if="${use}" th:field="*{user.role}" class="form-control inputstl" aria-label="Default select example" style="width: 421px;margin-bottom: 20px;">
                                        <option th:value="'User'" th:text="'Normal User'" selected></option>
                                        <option th:value="'officer'" th:text="'Loan Officer'"></option>
										<option th:value="'credit'" th:text="'Credit officer'"></option>
										<option th:value="'risk'" th:text="'Risk Officer'"></option>
										<option th:value="'Legal'" th:text="'Legal Officer'"></option>
									</select>
								</div>
								<button style="background: #1B5732"
									class="btn btn-primary btn-block btn-lg m-b" type="submit">Sign Up</button>
								<div class="divider"></div>
								<p class="text-center"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="session-footer">
			<nav class="footer-right">
				<ul class="nav">
					<li><a href="javascript:;">Feedback</a></li>
					<li><a href="javascript:;" class="scroll-up"> <i
							class="fa fa-angle-up"></i>
					</a></li>
				</ul>
			</nav>
			<nav class="footer-left hidden-xs">
				<ul class="nav">
					<li><a href="javascript:;"><span>About</span> BRD</a></li>
					<li><a href="javascript:;">Privacy</a></li>
					<li><a href="javascript:;">Terms</a></li>
					<li><a href="javascript:;">Help</a></li>
				</ul>
			</nav>
		</footer>

	</div>
	<script src="scripts/app.min.js"></script>
</body>

</html>