<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta name="description" content="" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" th:href="@{/styles/app.min.css}" />
<!-- <link rel="stylesheet"
	th:href="@{/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.min.css}" /> -->
<link rel="stylesheet"
	href="vendor/datatables/media/css/datatables.bootstrap.html" />

<style>
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 20%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 2px 16px;
}
</style>
<title>Digital Archive</title>
</head>

<body class="page-loading">

	<!-- start loader -->
	<div class="pageload">
		<div class="pageload-inner">
			<div style="background: #D94B01" class="sk-rotating-plane"></div>
		</div>
	</div>
	<!-- end loader -->

	<!-- start header -->
	<div class="app layout-fixed-header">

		<!-- start side bar -->
		<div th:replace="fragments :: side-bar"></div>
		<!-- start side bar -->

		<div class="main-panel">

			<!-- start header nav -->
			<div class="header navbar">
				<div th:replace="fragments :: header-nav"></div>
			</div>
			<!-- start header nav -->

			<!-- start main content -->
			<div class="main-content">
				<div class="page-title" style="align-content: center; text-align: center; font-weight: 500">
					<div class="sub-title"><p th:text="${request.loanee.loaneeFullName} +' Files'"> </p></div>
				</div>
				<!--  <div class="card bg-white">
				<div class="card-header">
					Account list
				</div> -->

				<div style="margin: 2rem" class="row">
					<div style="margin-right: 2rem"
						class="card bg-white col-md-3">
						<a th:href="@{'/downloadFile/' + ${request.requestLetterName}}"> <img
								th:src="@{/image/pdf.jpg}" alt="pdf" style="width: 100%;">
						</a>
						<!-- <p style="width:100%;" th:text="${files.get(i.index)}"> </p> -->
						<p style="width: 100%"></p>
						 Application letter
						<p style="width: 100%;"></p>
					</div>
					<div style="margin-right: 2rem"
						 class="card bg-white col-md-3">
						<a th:href="@{'/downloadFile/'+ ${request.requestLetterName}}"> <img
								th:src="@{/image/pdf.jpg}" alt="pdf" style="width: 100%;">
						</a>
						<!-- <p style="width:100%;" th:text="${files.get(i.index)}"> </p> -->
						<p style="width: 100%"></p>
						Bussiness Plan
						<p style="width: 100%;"></p>
					</div>
					<div style="margin-right: 2rem"
						 class="card bg-white col-md-3">
						<a th:href="@{'/downloadFile/' + ${request.requestLetterName}}"> <img
								th:src="@{/image/pdf.jpg}" alt="pdf" style="width: 100%;">
						</a>
						<!-- <p style="width:100%;" th:text="${files.get(i.index)}"> </p> -->
						<p style="width: 100%"></p>
						Bank Statement
						<p style="width: 100%;"></p>
					</div>
					<div style="margin-right: 2rem"
						 class="card bg-white col-md-3">
						<a th:href="@{'/downloadFile/' + ${request.requestLetterName}}"> <img
								th:src="@{/image/pdf.jpg}" alt="pdf" style="width: 100%;">
						</a>
						<!-- <p style="width:100%;" th:text="${files.get(i.index)}"> </p> -->
						<p style="width: 100%"></p>
						Land Document
						<p style="width: 100%;"></p>
					</div>
					<div class="page-title" style="align-content: center; text-align: center; font-weight: 500">
						<div class="sub-title">
							<form action="#" th:action="@{'/Approve/'}" method="post">
								<button type="submit" style="float: left" class="btn btn-warning cancel" name="action" value="edit">
									<i class="icon-ban">Reject</i>
								</button>
								<button type="submit" style="float: right" class="btn btn-success success" name="action" value="edit">
									<i class="icon-ban">Approve</i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- start main content -->

	</div>
	<!-- end header -->

	<!-- start footer -->
	<div th:replace="fragments :: footer"></div>
	<!-- start footer -->

	<!-- foot header -->
	<script th:src="@{/scripts/app.min.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.resize.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.categories.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.stack.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.time.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.pie.js}"></script>
	<script th:src="@{/vendor/flot-spline/js/jquery.flot.spline.js}"></script>
	<script th:src="@{/vendor/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
	<script th:src="@{/scripts/helpers/sameheight.js}"></script>
	<script th:src="@{/scripts/ui/dashboard.js}"></script>
	<!-- <script
		th:src="@{/bootstrap-4.0.0/bootstrap-4.0.0/dist/js/bootstrap.min.js}"></script> -->

	<script
		th:src="@{/vendor/datatables/media/js/datatables.bootstrap.html}"></script>
	<script type="text/javascript">
		$('.datatable').dataTable({
			'ajax' : 'data/datatables-arrays.json'
		});
	</script>
	<!-- foot header -->
</body>

</html>
